[submodule "KivyLive"]
	path = KivyLive
	url = https://github.com/kengoon/KivyLive
[submodule "KivyLiveClient"]
	path = KivyLiveClient
	url = https://github.com/kengoon/KivyLiveClient
[submodule "KivyLiveServer"]
	path = KivyLiveServer
	url = https://github.com/kengoon/KivyLiveServer
